@model RedjoBarbers.Web.Data.Models.Appointment

<h2>Delete</h2>

<p class="text-danger">Сигурни ли сте, че искаш да изтриете този час?</p>

<dl class="row">
    <dt class="col-sm-3">Дата на посещение:</dt>
    <dd class="col-sm-9">@Model.AppointmentDate</dd>

    <dt class="col-sm-3">Клиент:</dt>
    <dd class="col-sm-9">@Model.CustomerName</dd>

    <dt class="col-sm-3">Бръснар:</dt>
    <dd class="col-sm-9">@Model.Barber?.Name</dd>

    <dt class="col-sm-3">Услуга:</dt>
    <dd class="col-sm-9">@Model.BarberService?.Name</dd>

    <dt class="col-sm-3">Забележка:</dt>
    <dd class="col-sm-9">@Model.Notes</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Изтриване</button>
    <a asp-action="MyAppointments" class="btn btn-secondary">Отказ</a>
</form>
