@using RedjoBarbers.Web.Data.Models
@model IEnumerable<RedjoBarbers.Web.Data.Models.Appointment>

<h2>Свободни часове</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Планирай посещение</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Клиент</th>
            <th>Тел.номер</th>
            <th>Статус</th>
            <th>Бръснар</th>
            <th>Услуга</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Appointment a in Model)
        {
            <tr>
                <td>@a.AppointmentDate</td>
                <td>@a.CustomerName</td>
                <td>@a.CustomerPhone</td>
                <td>@a.Status</td>
                <td>@a.Barber?.Name</td>
                <td>@a.BarberService?.Name</td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@a.Id">Details</a> |
                    <a asp-action="Update" asp-route-id="@a.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@a.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
