@using RedjoBarbers.Web.Data.Models
@using System.Globalization
@model IEnumerable<BarberService>

@{
    ViewData["Title"] = "Нашите услуги";
}

<h2>Избери своята нова визия</h2>

@if (!Model.Any())
{
    <p>В момента няма валидни бръснарски услуги.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Услуга</th>
                <th>Описание</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
        @foreach (BarberService service in Model)
        {
            <tr>
                <td>
                     <h3>@service.Name</h3>
                     <p>@service.Description</p>

                     <a asp-controller="Review"
                        asp-action="Index"
                        asp-route-barberServiceId="@service.Id">
                         Вижте отзивите за тази услуга
                        </a>
                </td>
                <td>@service.Description</td>
                <td>@service.Price.ToString("C", new CultureInfo("fr-FR"))</td>
            </tr>
        }
        </tbody>
    </table>
}
<partial name="_GoogleLocation" />
<br />